USE [WebBanMyPham]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 7/6/2024 3:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartID] [int] IDENTITY(608401,1) NOT NULL,
	[Quantity] [int] NULL,
	[ProductID] [int] NULL,
	[UserID] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK__Cart__51BCD797BB5EE8F9] PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/6/2024 3:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(406801,1) NOT NULL,
	[CategoryName] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 7/6/2024 3:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(184101,1) NOT NULL,
	[UserID] [int] NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](10, 3) NULL,
	[OrderStatus] [nvarchar](max) NULL,
	[OrderPay] [nvarchar](max) NULL,
	[OrderCancel] [nvarchar](max) NULL,
 CONSTRAINT [PK__Order__C3905BAF9ECD7D19] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 7/6/2024 3:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailID] [int] NOT NULL,
	[ProductID] [int] NULL,
	[Price] [decimal](10, 3) NULL,
	[OrderID] [int] NULL,
	[UserID] [int] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/6/2024 3:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(390301,1) NOT NULL,
	[ProductName] [nvarchar](200) NULL,
	[Price] [decimal](10, 3) NULL,
	[Description] [nvarchar](max) NULL,
	[CategoryID] [int] NULL,
	[Image] [nvarchar](max) NULL,
	[Quantity] [int] NULL,
	[DateAdd] [datetime] NULL,
 CONSTRAINT [PK__Product__B40CC6ED15164CED] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/6/2024 3:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(806401,1) NOT NULL,
	[UserName] [nvarchar](200) NULL,
	[Password] [nvarchar](200) NULL,
	[IsAdmin] [nvarchar](200) NULL,
	[Phone] [int] NULL,
	[FirstName] [nvarchar](200) NULL,
	[LastName] [nvarchar](200) NULL,
	[Email] [nvarchar](200) NULL,
 CONSTRAINT [PK__Account__349DA5866B7C7132] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Account] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Account]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Product]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Account]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_User]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (406801, N'Son', N'Son môi là một loại mỹ phẩm dùng để tô màu và làm nổi bật đôi môi. Được sản xuất dưới nhiều dạng khác nhau như thỏi, lỏng, và kem, son môi thường chứa các thành phần như sáp, dầu, chất tạo màu và dưỡng chất. Son môi không chỉ giúp làm đẹp mà còn có thể cung cấp độ ẩm và bảo vệ môi khỏi các tác động xấu từ môi trường. Các loại son phổ biến bao gồm son lì, son bóng, son dưỡng và son tint, mang đến nhiều lựa chọn màu sắc và kết cấu để phù hợp với sở thích và nhu cầu của người sử dụng.')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (406802, N'Kem nền', N'Kem nền là một loại mỹ phẩm dùng để tạo lớp nền đều màu và mịn màng cho da mặt, giúp che phủ khuyết điểm như mụn, tàn nhang và vết thâm. Kem nền có nhiều dạng như lỏng, kem, bột và thỏi, với nhiều mức độ che phủ từ mỏng nhẹ đến dày. Ngoài việc làm đẹp, kem nền thường chứa các thành phần dưỡng da và chống nắng, giúp bảo vệ da khỏi tác động của tia UV và các yếu tố gây hại từ môi trường. Chọn kem nền phù hợp với loại da và tông màu da là bước quan trọng để có lớp trang điểm hoàn hảo.')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (406803, N'Kem lót', N'Kem lót, hay còn gọi là primer, là một loại mỹ phẩm được sử dụng trước khi trang điểm để tạo một lớp nền mịn màng, giúp lớp trang điểm bám lâu hơn và trông tự nhiên hơn. Kem lót có thể giúp làm mờ lỗ chân lông, kiểm soát dầu, cung cấp độ ẩm và tạo bề mặt đều màu cho da. Một số loại kem lót còn có tác dụng làm sáng da hoặc điều chỉnh màu da. Chọn kem lót phù hợp với loại da sẽ giúp tăng cường hiệu quả của quá trình trang điểm.')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProductName], [Price], [Description], [CategoryID], [Image], [Quantity]) VALUES (390302, N'Son MAC Lustreglass 564 Kissmet', CAST(499.000 AS Decimal(10, 3)), N'Khám phá sự kết hợp tuyệt vời giữa kết cấu siêu nhẹ, mịn mượt như lụa của Lustreglass Sheer-Shine Lipstick . MAC đã cho ra mắt thêm một màu son làm các phái đẹp phải mê mẩn. Son MAC Lustreglass 564 Kissmet mang tông màu cam san hô kiêu sa , quyến rũ.', 406801, N'https://file.hstatic.net/1000025647/file/chat_son_mac_564_len_moi__47ed9cc4365c40c09f6e9c1959c9a99b_1024x1024.jpg', 50)
INSERT [dbo].[Product] ([ProductID], [ProductName], [Price], [Description], [CategoryID], [Image], [Quantity]) VALUES (390303, N'Son MAC Lustreglass 565 Gummy Bare
', CAST(499.000 AS Decimal(10, 3)), N'Khám phá sự kết hợp tuyệt vời giữa kết cấu siêu nhẹ, mịn mượt như lụa của Lustreglass Sheer-Shine Lipstick . MAC đã cho ra mắt thêm một màu son làm các phái đẹp phải mê mẩn. Son MAC Lustreglass 565 Gummy Bare mang tông màu hồng cam kiêu sa , quyến rũ.', 406801, N'https://file.hstatic.net/1000025647/file/son_mac_565_58c66addd6aa4ce185a36e52bbd5d27a_1024x1024.jpg', 50)
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO